.mat-card {
    margin: 0 16px 16px 0;
    width: 350px;

    .mat-card-actions {
        display: flex;
        flex-direction: row;
    }
}

.wikipage-snippet {
    /deep/ .searchmatch { 
        color: #2196f3;
    }
}

.wikilink-chip {
    margin: 0 0 3px 8px;
}